{% extends "settings/core.html" %}
{% import "macros/kv.html" as kv %}

{% block content %}
<h2 class="h5 mt-3">{{_("Approver Groups")}}</h2>

<div class="settings-section rounded">

  <div class="d-lg-flex">

    <div class="title w-lg-25">
      <label for="org_name">{{_("Select Approver Group")}}</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">

        <form id="form-select-approver-group" method="post" action="/settings/approvers" class="toasted">
          <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
          <select name="get_group" class="form-select toast-form-change-submit" data-form="form-select-approver-group">
            <option disabled {% if not group %}selected{% endif %}>{{_("Select One")}}</option>
            {% for grp in g.user.organization.approver_groups %}
            <option value="{{ grp.base36id }}" {% if group and group.id==grp.id %}selected{% endif %}>{{ grp.name }}</option>
            {% endfor %}
          </select>
        </form>

      </div>
    </div>
  </div>

  {% if not group %}
  <div class="d-lg-flex">

    <div class="title w-lg-25">
      <label for="org_name">{{_("Create new Approver Group")}}</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">

        <form id="form-new-approver-group" method="post" action="/settings/approvers" class="w-100 toasted">
          <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
          <input type="text" name="new_group_name" class="form-control">
        </form>
        <a href="javascript:void(0)" class="btn ms-auto toast-form-submit btn-primary rounded" data-form="form-new-approver-group">{{_("Save")}}</a>

      </div>
    </div>
  </div>
  {% endif %}

  {% if group %}
  {{ kv.kv(group, 0) }}
  {% endif %}

</div>
{% endblock %}

{% block rightbar %}
{% if group %}
<button type="button" class="btn btn-danger w-100 mt-2" data-bs-toggle="modal" data-bs-target="#modal-deactivate-group">{{_("Deactivate Group")}}</button>
{% endif %}
{% endblock %}

{% block modals %}
{% if group %}
<div class="modal fade" id="modal-deactivate-group" tabindex="-1" aria-labelledby="modal-approve-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-approve-label">{{ _("Confirm Action on {x}").format(x=group.name) }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{_("Archive Approval Group")}}</p>
        <form id="form-archive-group" action="/settings/approvers/{{ group.base36id }}/archive" method="post" class="toasted">
          <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
        </form>
        <p class="text-center">{{_("This group will remain assigned to records.")}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{_("Close")}}</button>
        <button type="button" class="btn btn-success toast-form-submit" data-form="form-archive-group">{{_("Confirm")}}</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}