{% extends "settings/core.html" %}

{% block content %}
<h2 class="h5 mt-3">{{_("Approver Groups")}}</h2>

<div class="settings-section rounded">

  <div class="d-lg-flex">

    <div class="title w-lg-25">
      <label for="org_name">{{_("Select Approver Group")}}</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">

        <form method="get" action="/settings/approvers">
          <select name="group_id" class="form-select">
            <option disabled {% if not group %}selected{% endif %}>Select One</option>
            {% for grp in g.user.organization.approver_groups %}
            <option value="{{ grp.base36id }}" {% if group and group.id==grp.id %}selected{% endif %}>{{ grp.name }}</option>
            {% endfor %}
          </select>
        </form>

      </div>
    </div>
  </div>

  {% if not group %}
  <div class="d-lg-flex">

    <div class="title w-lg-25">
      <label for="org_name">{{_("Create new Approver Group")}}</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">

        <form method="post" action="/settings/approvers">
          <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
          <input type="text" name="new_group_name" class="form-control">
          <input type="submit" class="btn btn-success" value="{{_('Save')}}">
        </form>

      </div>
    </div>
  </div>
  {% endif %}

  {% if group %}
  <div class="d-lg-flex">

    <div class="title w-lg-25">
      <label for="org_name">{{_("Group Name")}}</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">

        <input type="text" name="name" value="{{ group.name }}" class="form-control">

      </div>
    </div>
  </div>
  <div class="d-lg-flex">

    <div class="title w-lg-25">
      <label for="org_name">{{_("Group Members")}}</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">

        WIP

      </div>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}