{% extends "settings/core.html" %}

{% block content %}
<h2 class="h5 mt-3">Audit</h2>

<table class="table table-striped mb-5">
  <thead class="bg-primary text-white">
    <tr>
      <th></th>
      <th>{{ _("User") }}</th>
      <th>{{ _("Timestamp") }}</th>
      <th>{{ _("Target") }}</th>
      <th>{{ _("Change") }}</th>
    </tr>
  </thead>
  {% for entry in listing %}
  <tr>
    <td>
      <a href="javascript:void(0)" class="copy-link" data-clipboard-text="{{ entry.permalink_full }}">
        <i class="fas fa-link text-muted"></i>
      </a>
    </td>
    <td>{{ entry.user | string }}</td>
    <td>{{ entry.created_datetime }}</td>
    <td>{{ entry.key }}</td>
    <td>{{ entry.new_value }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}