{% extends "core.html" %}

{% block page %}

<div class="mt-3">
  <h1 class="d-none d-md-block">Settings</h1>
  <h2 class="h3 d-md-none">Settings</h2>
</div>

<div class="flex-row box-shadow-bottom sticky d-none d-sm-flex mt-3">

  <ul class="nav settings-nav">
    <li class="nav-item">
      <a class="nav-link{% if request.path=='/settings/profile' %} active{% endif %}" href="/settings/profile">{{ _("Profile") }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if request.path=='/settings/security' %} active{% endif %}" href="/settings/security">{{ _("Security") }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if request.path=='/settings/directory' %} active{% endif %}" href="/settings/directory">{{ _("Directory") }}</a>
    </li>
    {% if g.user.is_doc_control %}
    <li class="nav-item">
      <a class="nav-link{% if request.path.startswith('/settings/approvers') %} active{% endif %}" href="/settings/approvers">{{ _("Approvers") }}</a>
    </li>
    {% endif %}
    {% if g.user.is_org_admin %}
    <li class="nav-item">
      <a class="nav-link{% if request.path=='/settings/organization' %} active{% endif %}" href="/settings/organization">{{ _("Organization") }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if request.path=='/settings/plan' %} active{% endif %}" href="/settings/plan">{{ _("Plan") }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if request.path=='/settings/audit' %} active{% endif %}" href="/settings/audit">{{ _("History") }}</a>
    </li>
    {% endif %}
  </ul>

</div>

<!-- Mobile -->

<div class="flex-row box-shadow-bottom sticky justify-content-center d-flex d-sm-none mt-3 mb-3 mb-sm-5">

  <ul class="nav settings-nav">
    <li class="nav-item">
      <a class="nav-link{% if request.path=='/settings/profile' %} active{% endif %}" href="/settings/profile"><i class="fas fa-fw fa-square-user text-lg me-0"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if request.path=='/settings/security' %} active{% endif %}" href="/settings/security"><i class="fas fa-fw fa-lock-alt text-lg me-0"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if request.path=='/settings/directory' %} active{% endif %}" href="/settings/directory"><i class="fas fa-fw fa-users text-lg me-0"></i></a>
    </li>
    {% if g.user.is_doc_control %}
    <li class="nav-item">
      <a class="nav-link{% if request.path.startswith('/settings/approvers') %} active{% endif %}" href="/settings/approvers"><i class="fas fa-fw fa-user-check text-lg me-0"></i></a>
    </li>
    {% endif %}
    {% if g.user.is_org_admin %}
    <li class="nav-item">
      <a class="nav-link{% if request.path=='/settings/organization' %} active{% endif %}" href="/settings/organization"><i class="fas fa-fw fa-buildings text-lg me-0"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if request.path=='/settings/plan' %} active{% endif %}" href="/settings/plan"><i class="fas fa-fw fa-chair-office text-lg me-0"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if request.path=='/settings/audit' %} active{% endif %}" href="/settings/audit"><i class="fas fa-fw fa-scroll-old text-lg me-0"></i></a>
    </li>
    {% endif %}
  </ul>

</div>

<div id="posts" class="row">
  <div class="col col-lg-8">
    <div class="settings">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}

{% block hide_rightbar %}{% endblock %}