{% extends "settings/core.html" %}

{% block content %}

{% set roles={
  0: "None",
  1: "Document Control",
  2: "Material Review Board"
}%}

{% if g.user.is_org_admin %}
<h2 class="h5 mt-3">{{_("Add New User") }}</h2>
<form id="form-invite-user" action="/settings/directory/invite" method="post" class="toasted">
  <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
  <label for="input-new-user-name">{{_("Name")}}</label>
  <input id="input-new-user-name" class="form-control" name="name" required>
  <label for="input-new-user-email">{{_("Email")}}</label>
  <input id="input-new-user-email" class="form-control" name="email" required>
</form>
<a href="javascript:void(0)" class="btn btn-primary toast-form-submit" data-form="form-invite-user">{{_("Invite User")}}</a>
{% endif %}

<h2 class="h5 mt-3">{{_("Directory")}}</h2>

<table class="table table-striped mb-5">
  <thead class="bg-primary text-white">
    <tr>
      <th>{{_("Name")}}</th>
      <th>{{_("Email")}}</th>
      {% if g.user.is_org_admin %}
      <th>{{_("Enabled")}}</th>
      <th>{{_("Full License")}}</th>
      <th>{{_("Administrator")}}</th>
      <th>{{_("Permission Set")}}</th>
      {% else %}
      <th>{{_("Full License")}}</th>
      <th>{{_("Roles")}}</th>
      {% endif %}
    </tr>
  </thead>
  {% for user in g.user.organization.users.all() %}
  <tr>
    <td><a href="{{ user.permalink }}">{{ user.name }}</a></td>
    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>

    {% if g.user.is_org_admin %}
    <td><input type="checkbox" class="form-check-input check-toast" data-post-url="/settings/directory/toggle_enable/{{ user.base36id }}"{% if user.is_active %} checked{% endif %}{% if user==g.user %} disabled{% endif %}></td>
    <td><input type="checkbox" class="form-check-input check-toast" data-post-url="/settings/directory/toggle_license/{{ user.base36id }}"{% if user.has_license %} checked{% endif %}{% if user==g.user %} disabled{% endif %}></td>
    <td><input type="checkbox" class="form-check-input check-toast" data-post-url="/settings/directory/toggle_admin/{{ user.base36id }}"{% if user.is_org_admin %} checked{% endif %}{% if user==g.user %} disabled{% endif %}></td>
    <td>
      <form id="form-set-permissions-user-{{ user.base36id }}" action="/settings/directory/select_permissions/{{user.base36id}}" method="post">
        <select class="form-select toast-form-change-submit" name="special_role" data-form="form-set-permissions-user-{{ user.base36id }}">
          {% for x in roles %}
          <option value="{{ x }}" {% if user.special_role==x %}selected{% endif %}>{{ roles[x] }}</option>
          {% endfor %}
        </select>
      </form>
    </td>

    {% else %}
    <td><input type="checkbox" class="form-check-input"{% if user.has_license %} checked{% endif %} disabled></td>
    <td class="text-small">{{ user.role_string }}</td>
    {% endif %}

  </tr>
  {% endfor %}
</table>

{% endblock %}
