{% extends "settings/core.html" %}

{% block content %}
<h2 class="h5 mt-3">Branding</h2>
<div class="settings-section rounded">

  <div class="d-lg-flex">

    <div class="title w-lg-25">
      <label for="org_name">Organization Name</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">

        <form id="form-org-name" action="/settings/organization" method="post" class="w-100">
          <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
          <input id="org_name" type="text" name="org_name" class="form-control w-100" value="{{ g.user.organization.name }}">
        </form>
        <a href="javascript:void(0)" class="btn ml-auto toast-form-submit btn-primary rounded" data-form="form-org-name">Change Organization Name</a>
        
      </div>
    </div>
  </div>
</div>

<h2 class="h5 mt-3">Security</h2>
<div class="settings-section rounded">

  <div class="d-lg-flex">

    <div class="title w-lg-25">
      <label for="require-2fa">Require two-factor authentication</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">

        <div class="form-check form-switch">
          <input type="checkbox" class="form-check-input check-toast" data-post-url="/settings/organization/toggle_otp" id="require-2fa" {% if g.user.organization.requires_otp %}checked {% endif %}>
          <label class="form-check-label" for="require-2fa"></label>
        </div>

        <div class="text-small">
          <p>If enabled, all users will be required to configure two-factor authentication.</p>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}



