{% extends "settings/core.html" %}

{% block content %}
<h2 class="h5">Organization</h2>

<div class="settings-section rounded">

<div class="d-lg-flex">

  <div class="title w-lg-25">
    <label for="org_name">License Count</label>
  </div>

  <div class="body w-lg-100">
    <div class="input-group d-flex">

      <form id="form-org-name" action="/settings/organization" method="post" class="w-100">
        <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
        <input id="org_name" type="text" name="org_name" class="form-control w-100" value="{{ g.user.organization.license_count }}">
      </form>
      <a href="javascript:void(0)" class="btn ml-auto toast-form-submit btn-primary rounded" data-form="form-org-name">Change License Count</a>

    </div>
  </div>
</div>
{% endblock %}