{% extends "settings/core.html" %}

{% block content %}
<h2 class="h5 mt-3">Licensing</h2>

<div class="settings-section rounded">

  <div class="d-lg-flex">

    <div class="title w-lg-25">
      <label for="org_name">License Expiration</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">

        <p>{{ g.user.organization.license_expire_date }}</p>

      </div>
    </div>
  </div>

  <div class="d-lg-flex">

    <div class="title w-lg-25">
      <label for="org_name">License Usage</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">

        <p>Currently using {{ g.user.organization.licenses_used}}/{{ g.user.organization.license_count }} licenses.</p>

      </div>
    </div>
  </div>

  <div class="d-lg-flex">

    <div class="title w-lg-25">
      <label for="license_count">Change License Count</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">
        <form id="form-license-count" action="/settings/plan" method="post" class="w-100">
          <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
          <input id="license_count" type="text" name="license_count" class="form-control w-100" value="{{ g.user.organization.license_count }}">
        </form>
        <a href="javascript:void(0)" class="btn ml-auto toast-form-submit btn-primary rounded" data-form="form-license-count">Submit Order</a>
        <div class="text-small mt-2">
          <p>License count may be increased or decreased as needed by your organization at any time*. Changes to the number of licenses will cause the license expiration date to be adjusted, preserving the total number of remaining seat-days to within an accuracy of one second.
          <p>If license expiration is less than one year away, license count increases require the purchase of one year of service at the higher count. The price will be prorated by any unconsumed seat-days.</p>
          <p>Licenses may be renewed at the current count, prorated, at any time.</p>
          <p class="text-xsmall">After increasing license count, there is a 7 day cooldown period before license count may be reduced.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}