{% extends "settings/core.html" %}

{% block content %}
<h2 class="h5 mt-3">{{_("Profile")}}</h2>
<div class="settings-section rounded">

  <div class="d-lg-flex">

    <div class="title w-lg-25 text-md-center">
      <img src="{{ g.user.profile_url }}" class="profile-pic-75">
    </div>
    <div class="body w-lg-100">
      <div class="input-group d-flex">

        <form id="user-avatar-update-form" action="/settings/profile/avatar" method="post" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
          <label class="btn btn-primary text-capitalize me-2 mb-0">
            {{_("Update")}}
            <input type="file" hidden name="profile" class="toast-form-change-submit" data-form="user-avatar-update-form">
          </label>
        </form>
        {% if g.user.has_profile %}
        <div>
          <form id="delete-profile" action="/settings/profile/avatar" method="post">
            <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
            <a class="btn fa-lg toast-form-submit" data-form="delete-profile"><i class="far fa-trash-alt text-danger"></i></a>
          </form>
        </div>
        {% endif %}
        
      </div>
    </div>
  </div>

  <div class="d-lg-flex border-top">

    <div class="title w-lg-25">
      <label for="form-org-name">{{_("Title")}}</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">

        <form id="update-title" action="/settings/profile" method="post" class="toasted">
          <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
          <input class="form-control" data-form="update-title" type="text" name="title" value="{{ g.user.title }}">
          <a class="btn btn-primary toast-form-submit" data-form="update-title">{{_("Save")}}</a>
        </form>
       
        
      </div>
    </div>
  </div>
</div>

<h2 class="h5 mt-3">{{_("Localization")}}</h2>
<div class="settings-section rounded">

  <div class="d-lg-flex">

    <div class="title w-lg-25">
      <label for="require-2fa">{{_("Language")}}</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">

        <form id="form-lang" action="/settings/profile" method="post">
          <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
          <select class="form-select toast-form-change-submit" name="lang" data-form="form-lang">
            {% for l in (0|lang) %}
            <option value="{{ l | lang }}" {% if (l|lang)==g.user.lang %}selected{% endif %}>{{ l }}</option>
            {% endfor %}
          </select>
        </form>

      </div>
    </div>
  </div>
  <div class="d-lg-flex">

    <div class="title w-lg-25">
      <label for="require-2fa">{{ _("Time Zone") }}</label>
    </div>

    <div class="body w-lg-100">
      <div class="input-group d-flex">

        <form id="form-org-lang" action="/settings/organization" method="post">
          <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
          <select class="form-select toast-form-change-submit" name="tz" data-form="form-org-lang">
            {% for tz in (0|tz) %}
            <option value="{{ tz }}" {% if tz==g.user.organization.tz %}selected{% endif %}>{{ tz }}</option>
            {% endfor %}
          </select>
        </form>
        <p class="text-small">{{ _("Sets your time zone") }}

      </div>
    </div>
  </div>
</div>
{% endblock %}