<head>

  <!--Bootstrap-->
  <link href="{{ 'CSS_URL_LIGHT' | app_config }}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

  <!--JQuery-->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  
  {% if g.user %}
  <!--Anti-csrf token-->
  <link id="csrf-token-element" data-csrf-token="{{ g.user.csrf_token }}">
  {% endif %}
  
</head>
<body>
  {% block content %}
  {% endblock %}
  
  <!--Clipboard JS-->
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

  <!-- Instantiate clipboard by passing a string selector -->
  <script type="text/javascript" nonce="{{ g.nonce }}">
    var clipboard = new ClipboardJS('.copy-link');
    clipboard.on('success', function(e) {

      jQuery(function($) {
        $('#toast-copy-success').toast('show');
      })
      console.log(e);
    });
    clipboard.on('error', function(e) {

      jQuery(function($) {
        $('#toast-copy-error').toast('show');
      })
      console.log(e);
    });
  </script>
  
  <!--Toasts-->
  <div class="toast clipboard" id="toast-copy-success" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
    <div class="toast-body text-center">
      <i class="fas fa-check-circle text-success mr-2"></i>Copied link to clipboard
    </div>
  </div>

  <div class="toast clipboard" id="toast-copy-error" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
    <div class="toast-body text-center">
      <i class="fas fa-exclamation-circle text-danger mr-2"></i>Unable to copy link
    </div>
  </div>

  <div class="toast" id="toast-success" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
    <div class="toast-body bg-success text-center text-white">
      <i class="fas fa-comment-alt-smile mr-2"></i><span class="toast-text"></span>
    </div>
  </div>
  <div class="toast" id="toast-error" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
    <div class="toast-body bg-danger text-center text-white">
      <i class="fas fa-exclamation-circle mr-2"></i><span class="toast-text"></span>
    </div>
  </div>
</body>
