{% extends "core.html" %}

{% block page %}
<div>
  <h1 class="h2">{{_("Create NCMR")}}</h1>

  <form id="form-ncmr" action="/ncmr" method="post" class="mt-md-3 toasted">

    <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">

    {% for entry in OBJ._layout[0] %}

    <label for="input-{{ loop.index0 }}">{{ entry['name'] }}</label>

    {% if entry['kind']=='text' %}
    <input type="text" class="form-control mb-2" id="input-{{ loop.index0 }}" name="{{ entry['value'] }}" autocomplete="off" required>

    {% endfor %}

  </form>

  <a href="javascript:void(0)" class="btn btn-primary login w-100 mt-3 toast-form-submit" data-form="form-ncmr">{{_("Create")}}</a>
</div>
{% endblock %}
