{% extends "core.html" %}

{% block page %}

<div class="mt-3">
  <h1 class="d-none d-md-block">Dashboard</h1>
  <h2 class="h3 d-md-none">Dashboard</h2>
</div>

{% set data={
  "ncmr": {
    "name":NCMRs,
    "owned":g.user.ncmrs.all(),
    "assigned":[]
  },
  "capa": {
    "name":CAPAs,
    "owned":[],
    "assigned":[]
  }
} %}

<nav>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for entry in data %}
    <li class="nav-item">
      <a class="nav-link active" id="tab-{{ entry }}" data-toggle="tab" href="#pane-{{ entry }}" role="tab" aria-controls="pane-{{ entry }}" aria-selected="true">{{ entry }}{% if data[entry]["assigned"] %}<span class="badge">{{ len(data[entry]["assigned"]) }}</span>{% endif %}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
<div class="tab-content" id="myTabContent">
  {% for entry in data %}
  <div class="tab-pane fade active" id="pane-{{ entry }}" role="tabpanel" aria-labelledby="tab-{{ entry }}">
    <div class="fw-bold">{{ entry }}</div>
    <div>Assigned</div>
    <ul>
    {% for thing in data[entry]['assigned'] %}
      <li>
        <a href="{{ thing.permalink }}">{{ thing.name }}</a>
      </li>
    {% else %}
      <li>No {{ entry }} assigned</li>
    {% endfor %}
    </ul>

    <div>Owned</div>
    <ul>
    {% for thing in data[entry]['owned'] %}
      <li>
        <a href="{{ thing.permalink }}">{{ thing.name }}</a>
      </li>
    {% else %}
      <li>No {{ entry }} owned</li>
    {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>



{% endblock %}
