{% extends "core.html" %}

{% block wholepage %}
<div class="card m-0 border-0 p-0">
  <div class="card-body bg-light text-dark">
    <h1 class="card-title text-center fw-bold text-primary">{{ 'SITE_NAME' | app_config }}</h1>
    <h2 class="card-subtitle text-primary text-center pb-4">{{ _("Your data, our processes") }}</h2>
    <p class="text-center">{{ _("Quality compliance, out of the box") }}</p>
    <p class="text-center">{{ _("Get started with a free 5-seat, 30-day trial") }}</p>
    <p class="text-center">
      <a href="/sign_in" class="btn btn-secondary">{{ _("Sign in") }}</a>
      <a href="/register" class="btn btn-primaryms-3">{{ _("Try for free") }}</a>
    </p>
  </div>
</div>
{% endblock %}
