{% extends "core.html" %}

{% import "macros/kv.html" as kv %}
{% import "macros/logs.html" as logs %}

{% block title %}{{ record.name }} | {{ 'SITE_NAME' | app_config }}{% endblock %}

{% block page %}
<div class="mt-3 d-flex">
  <div>
    <h1 class="h3 text-primary">{{ record.name }} <span class="text-small text-secondary">{{ record.status }}</span></h1>
  </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a id="tab-record" class="nav-link active" href="javascript:void(0)" data-bs-toggle="tab" data-bs-target="#pane-record" role="tab" aria-controls="pane-record" aria-selected="false">{{ record.name }}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a id="tab-history" class="nav-link" href="javascript:void(0)" data-bs-toggle="tab" data-bs-target="#pane-history" role="tab" aria-controls="pane-history" aria-selected="false">{{_("History")}}</a>
  </li>
</ul>
<div class="tab-content border-start border-bottom border-end border-muted rounded-bottm pt-3" id="myTabContent">
  <div class="tab-pane fade show active p-2" id="pane-record" role="tabpanel" aria-labelledby="tab-record">
    
    {% for stage in (record._layout.keys() | sort) if stage<=record._status%}
    <h3 class="h4 text-primary mt-3">{{ record._lifecycle[stage]['name'] }}</h3>
    {{ kv.kv(record, stage) }}
    {% endfor %}
    
  </div>
  <div class="tab-pane fade p-2" id="pane-history" role="tabpanel" aria-labelledby="tab-history">
    {{ logs.logs(record) }}
  </div>
</div>
{% endblock %}


{% block rightbar %}
<div class="mt-5">
  {% for tsn in record._transitions[record._status] if g.user in tsn['users'] %}

  {% if tsn.get('approval', False) %}
  {% if record.has_approved %}
  <form id="form-unapprove-{{ tsn['id'] }}" action="{{ record.permalink }}/unapprove" method="post" class="toasted">
    <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
    <input type="hidden" name="transition_id" value="{{ tsn['id'] }}">
  </form>
  <a class="w-100 mt-2 btn btn-warning toast-form-submit" data-form="form-unapprove-{{ tsn['id'] }}" href="javascript:void(0)">{{_("Remove Signature")}}</a>
  {% else %}
  <!--approve button-->
  <button type="button" class="btn btn-success w-100 mt-2" data-bs-toggle="modal" data-bs-target="#modal-approve-{{record.id}}-{{record._status}}">{{_("Approve")}}</button>

  <!--approve modal-->
  <div class="modal fade" id="modal-approve-{{record.id}}-{{record._status}}" tabindex="-1" aria-labelledby="modal-approve-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-approve-label">{{ tsn['name'] }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form-approve-{{ tsn['id'] }}" action="{{ record.permalink }}/approve" method="post" class="toasted">
            <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
            <input type="hidden" name="transition_id" value="{{ tsn['id'] }}">
            <label for="input-password">Password</label>
            <input type="password" name="password" autocomplete="off" class="form-control">
          </form>
          <p>{{ _("When all required signatures have been collected, {x} will be automatically advanced to the {y} phase").format(x=record.name, y=record._lifecycle[tsn['to']]['name']) }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{_("Close")}}</button>
          <button type="button" class="btn btn-success toast-form-submit" data-form="form-approve-{{ tsn['id'] }}">{{_("Sign and Approve")}}</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% else %}
  <form id="form-transition-{{ tsn['id'] }}" action="{{ record.permalink }}/status" method="post" class="toasted">
    <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
    <input type="hidden" name="transition_id" value="{{ tsn['id'] }}">
  </form>
  <a class="w-100 mt-2 btn btn-{{tsn['color']}} toast-form-submit" data-form="form-transition-{{ tsn['id'] }}" href="javascript:void(0)">{{ tsn['name'] }}</a>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}