{% extends "core_centered.html" %}

{% block title %}Set Password | {{ 'SITE_NAME' | app_config }}{% endblock %}

{% block content %}
<div id="form-otp">
  <h1 class="h2">Set Password</h1>

  <form action="/set_password" method="post">

    <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
    <input type="hidden" name="otp_secret" value="{{ otp_secret }}">

    <label for="input-password">Password</label>
    <input type="password" autocomplete="new-password" class="form-control mb-2" id="input-password" name="password" autocomplete="off" required>
    
    <label for="confirm-password">Password</label>
    <input type="password" autocomplete="new-password" class="form-control mb-2" id="confirm-password" name="confirm_password" autocomplete="off" required>
    
  </form>

  <button class="btn btn-primary login w-100 mt-3 post-form-toast" data-form="form-otp">Continue</button>
</div>
{% endblock %}
