{% extends "core.html" %}

{% block page %}
<div class="mt-3 d-flex">
  <img src="{{ user.profile_url }}" class="profile-pic-100 mx-3">
  <div>
    <h1 class="h3">{{ user.name }}</h1>
    <h2 class="h4">{{ user.title }}</h2>
    <h3 class="h5"><a href="mailto:{{ user.email }}"><i class="fas fa-envelope"></i></a></h3>
  </div>
</div>
{% endblock %}

{% block rightbar %}
<div>
  {% for role in ROLES %}
  <input type="checkbox" class="form-check-input check-toast" data-post-url="/settings/directory/permissions/{{ user.base36id }}/{{ role['value'] }}"{% if user | attr(role['value']) %} checked{% endif %}{% if not g.user.is_org_admin %} disabled{% endif %}>
  {% endfor %}
</div>
{% endblock %}