{% extends "core.html" %}


{% block wholepage %}
<div class="row g-0 mt-5">
  <div class="col-12">
    <div class="text-center py-7 py-md-8">
      <div class="mb-4 fa-5x">
      {% block icon %}
      {% endblock %}
      </div>
      <h2 class="h5">{% block pagetitle %}{% endblock %}</h2>
      {% block pagetext %}
      {% endblock %}
      {% block continue %}
      <div>
        <a href="/" class="btn btn-primary">Go to homepage</a>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}