{% extends "mail/core.html" %}

{% block preheader %}{{ g.user.name }} has invited you to join {{ g.user.organization.name }} on {{ 'SITE_NAME' | app_config }}{% endblock %}

{% block title %}You've been invited to join {{ g.user.organization.name }} on {{ 'SITE_NAME' | app_config }}{% endblock %}

{% block content %}
<p>{{ g.user.name }} has invited you to join {{ g.user.organization.name }} on {{ 'SITE_NAME' | app_config }}.</p>
<p>To set up your account, click the button below within 24 hours.</p>
<p>If you were not expecting this invitation, you can simply ignore it.</p>

<div class="align-center">
  <a class="button" href="{{ link }}">Accept Invitation</a>
</div>
{% endblock %}
