{% extends "mail/core.html" %}

{% block preheader %}Welcome to {{ 'SITE_NAME' | app_config }}{% endblock %}

{% block title %}Welcome to {{ 'SITE_NAME' | app_config }}{% endblock %}

{% block content %}
<p>Your initial login information is below. If you haven't already changed your password, you'll be prompted to the next time you access {{ 'SITE_NAME' | app_config }}</p>

<div class="attributes-content">
  <p><span class="fw-bold">email:</span><code> {{ g.user.email }}</code>
  <p><span class="fw-bold">password:</span><code> {{ temp_pw }}</code>
</div>
{% endblock %}
