{% extends "core.html" %}

{% block page %}
<div>
  <h1 class="h2">{{_("Create NCMR")}}</h1>

  <form id="form-ncmr" action="/ncmr" method="post" class="mt-md-3 toasted">

    <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">

    <label for="input-item-number">{{_("Item Number")}}</label>
    <input type="text" class="form-control mb-2" id="input-item-number" name="item_number" autocomplete="off" required>

    <label for="input-lot-number">{{_("Serial or Lot Number")}}</label>
    <input type="text" class="form-control mb-2" id="input-lot-number" name="lot_number" autocomplete="off" required>

    <label for="input-qty">{{_("Quantity")}}</label>
    <input type="text" class="form-control mb-2" id="input-qty" name="quantity" autocomplete="off" required>

  </form>

  <a href="javascript:void(0)" class="btn btn-primary login w-100 mt-3 toast-form-submit" data-form="form-ncmr">{{_("Create")}}</a>
</div>
{% endblock %}
