{% extends "core.html" %}

{% block page %}
<div>
  <h1 class="h2">Create NCMR</h1>

  <form id="form-ncmr" action="/ncmr" method="post" class="mt-md-3 toasted">

    <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">



    <label for="2fa_input_password">Password</label>
    <input type="text" class="form-control mb-2" id="input-item-number" name="item_number" oninput="document.getElementById('enable2faButton').disabled=false" autocomplete="off" required>

  </form>

  <a href="javascript:void(0)" class="btn btn-primary login w-100 mt-3 toast-form-submit" data-form="form-otp">Continue</a>
</div>
{% endblock %}
