{% macro kv(record, section) %}

{% set can_edit= record.can_edit(section) %}
{% set source=record._lifecycle[section].get('object_data', record) %}

<div>

  {% for entry in record._layout()[section] if not entry.get('hide', (False|lambda(arg=True)))(record) %}
  <div class="d-lg-flex mt-3 on-hover">

    {% if can_edit %}
    <div class="title w-lg-25 toggle-target-class" role="button" data-toggle-target="vis-toggle-{{ entry['value'] }}-{{ loop.index0 }}">
      <label role="button" for="input-update-{{ entry['value'] }}-{{ loop.index0 }}">{{ entry['name'] }}</label>
    </div>
    <div role="button" class="body ms-3 w-lg-100 d-flex vis-toggle-{{ entry['value'] }}-{{ loop.index0 }} toggle-target-class" data-toggle-target="vis-toggle-{{ entry['value'] }}-{{ loop.index0 }}">
      <div>
        {% if entry.get('kind')=='multi' %} 
        <div id="display-value-{{ entry['value'] }}-{{ section }}-{{ loop.index0 }}">{{ (source | attr(entry['value']) | safe) or ('<p></p>'|safe) }}</div>
        {% elif entry.get('kind')=='dropdown' %}
        <p id="display-value-{{ entry['value'] }}-{{ section }}-{{ loop.index0 }}">{{ entry['values'].get(source | attr(entry['value']), '') }}</p>
        {% elif entry.get('kind')=='user' %}
        <p id="display-value-{{ entry['value'] }}-{{ section }}-{{ loop.index0 }}"><a href="{{ (source | attr(entry['value'])).permalink }}">{{ (source | attr(entry['value'])).name }}</a></p>
        {% else %}
        <p id="display-value-{{ entry['value'] }}-{{ section }}-{{ loop.index0 }}">{{ source | attr(entry['value']) }}</p>
        {% endif %}
      </div>
      <div class="ms-auto on-hover-show">
        <i class="fas fa-pen fa-fw"></i>
      </div>
    </div>
    <div class="body ms-3 w-lg-100 d-flex vis-toggle-{{ entry['value'] }}-{{ loop.index0 }} d-none">
      <form id="form-update-{{ entry['value'] }}-{{ section }}-{{ loop.index0 }}" action="{{ record.permalink }}" method="post" class="toasted w-100 me-4">
        <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">

        {% if source!=record %}
        <input type="hidden" name="data_obj" value="{{ source.__repr__() }}">
        {% endif %}

        {% if entry.get('kind')=='multi' %} 
        <textarea id="input-update-{{ entry['value'] }}-{{ loop.index0 }}" class="form-control" name="{{ entry['value'] }}" placeholder="{{ entry.get('placeholder','') }}">{{ source | attr(entry['value']+'_raw') }}</textarea>

        {% elif entry.get('kind')=='dropdown' %}
        <select id="input-update-{{ entry['value'] }}-{{ loop.index0 }}" class="form-select" name="{{ entry['value'] }}">
          <option disabled {% if not (source | attr(entry['value'])) %}selected{% endif %}>{{_("Select One")}}</option>
          {% for x in entry['values'] %}
          <option value="{{ x }}" {% if x==(source | attr(entry['value'])) %}selected{% endif %}>{{ entry['values'][x] }}</option>
          {% endfor %}
        </select>

        {% elif entry.get('kind')=='user' %}
        <select id="input-update-{{ entry['value'] }}-{{ loop.index0 }}" class="form-select" name="{{ entry['value'] }}">
          <option value="">-{{_("None")}}-</option>
          {% for user in g.user.organization.assignable_users %}
          <option value="{{ user.id }}" {% if user.id==(source | attr(entry['value']+'_id')) %}selected{% endif %}>{{ user.name }}</option>
          {% endfor %}
        </select>

        {% else %}
        <input id="input-update-{{ entry['value'] }}-{{ loop.index0 }}" class="form-control" type="text" name="{{ entry['value'] }}" value="{{ source | attr(entry['value']) }}" placeholder="{{ entry.get('placeholder','') }}">
        {% endif %}
        {% if entry.get('help') %}
        <p class="text-small">{{ entry['help'] }}</p>
        {% endif %}
      </form>
      <a href="javascript:void(0)" class="btn btn-secondary toggle-target-class ms-auto mb-auto" data-toggle-target="vis-toggle-{{ entry['value'] }}-{{ loop.index0 }}">Cancel</a>
      <a href="javascript:void(0)" class="btn btn-primary toggle-target-class record-value-edit ms-2 mb-auto" data-toggle-target="vis-toggle-{{ entry['value'] }}-{{ loop.index0 }}" data-form="form-update-{{ entry['value'] }}-{{ section }}-{{ loop.index0 }}" data-value-target="display-value-{{ entry['value'] }}-{{ section }}-{{ loop.index0 }}" data-approvals-target="container-approvals-{{ section }}">Save</a>
    </div>

    {% else %}
    <div class="title w-lg-25">
      <label>{{ entry['name'] }}</label>
    </div>
    <div class="body ms-3 w-lg-100 d-flex on-hover vis-toggle-{{ entry['value'] }}-{{ loop.index0 }}">
      <div>
        {% if entry.get('kind')=='multi' %} 
        <div id="display-value-{{ entry['value'] }}-{{ section }}-{{ loop.index0 }}">{{ (source | attr(entry['value']) | safe) or ('<p></p>'|safe) }}</div>
        {% elif entry.get('kind')=='dropdown' %}
        <p id="display-value-{{ entry['value'] }}-{{ section }}-{{ loop.index0 }}">{{ entry['values'].get(source | attr(entry['value']), '') }}</p>

        {% elif entry.get('kind')=='user' %}
        <p id="display-value-{{ entry['value'] }}-{{ section }}-{{ loop.index0 }}"><a href="{{ (source | attr(entry['value'])).permalink }}">{{ (source | attr(entry['value'])).name }}</a></p>

        {% else %}
        <p id="display-value-{{ entry['value'] }}-{{ section }}-{{ loop.index0 }}">{{ source | attr(entry['value']) }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}

  </div>
  {% endfor %}

  {% if record._lifecycle[section].get('files') %}
  <div class="d-lg-flex mt-3">
    <div class="title w-lg-25">
      <label>{{ record._lifecycle[section].get("files_label", _("Attached Files")) }}</label>
    </div>
    <div class="body ms-3 w-lg-100">
      {% for file in source.files if file.status_id==section %}
      <div class="d-flex">
        <a href="{{ file.s3_link }}" target="_blank">{{ file.file_name }}</a>
        {% if can_edit %}
        <div class="ms-auto">
          <form id="form-delete-file-{{ file.base36id }}" action="{{ record.permalink }}/file/{{ file.base36id }}/delete" method="post" class="toasted">
            <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
            <a href="javascript:void(0)" class="toast-form-submit" data-form="form-delete-file-{{ file.base36id }}"><i class="fas fa-trash fa-fw"></i></a>
          </form>
        </div>
        {% endif %}
      </div>
      {% endfor %}
      {% if can_edit %}
      <div>
        <form id="form-attach-file-{{ section }}" action="{{ record.permalink }}/file" method="post" enctype="multipart/form-data" class="toasted">
          <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
          <input type="hidden" name="status_id" value="{{ section }}">
          <input multiple type="file" name="file" class="form-control toast-form-change-submit" data-form="form-attach-file-{{ section }}">
        </form>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  

  {% if record.phase_approvals(section) %}
  <div id="container-approvals-{{ section }}" class="d-lg-flex mt-3">
    <div class="title w-lg-25">
      <label class="">{{ _("Approvals") }}</label>
    </div>
    <div class="body ms-3 w-lg-100 d-flex flex-wrap">
      {% for approval in source.phase_approvals(section) %}
      <div>
        <a href="{{ approval.user.permalink }}" class="btn btn-success m-1"><i class="fas fa-signature me-2"></i>{{ approval.user.name }} | {{ approval.created_datetime }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>

{% endmacro %}
