{% macro kv(thing, data, last_editable_status) %}

{% if g.user.has_seat and thing._status <= last_editable_status %}

<div>
  {% for key in data %}
  <div class="d-lg-flex">
    <div class="title w-lg-25">
      <label class="mt-1">{{ key }}</label>
    </div>
    <div class="body w-lg-100 d-flex on-hover vis-toggle-{{ data[key] }}-{{ loop.index0 }}">
      <div>
        <p>{{ thing.__dict__.get(data[key]) }}</p>
      </div>
      <div class="ms-auto on-hover-show toggle-target-class" data-toggle-target="vis-toggle-{{ data[key] }}-{{ loop.index0 }}">
        <i class="fas fa-pen fa-fw"></i>
      </div>
    </div>
    <div class="body w-lg-100 d-flex on-hover vis-toggle-{{ data[key] }}-{{ loop.index0 }} d-none">
      <form id="form-update-{{ data[key] }}" action="{{ thing.permalink }}" method="post" class="toasted">
        <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
        <input type="text" name="{{ data[key] }}" value="{{ thing.__dict__.get(data[key]) }}">
      </form>
      <a href="javascript:void(0)" class="btn btn-secondary toggle-target-class ms-auto mb-auto" data-toggle-target="vis-toggle-{{ data[key] }}-{{ loop.index0 }}">Cancel</a>
      <a href="javascript:void(0)" class="btn btn-primary toggle-target-class toast-form-submit ms-2 mb-auto" data-toggle-target="vis-toggle-{{ key }}-{{ loop.index0 }}" data-form="form-update-{{ data[key] }}">Save</a>
    </div>
  </div>
  {% endfor %}
</div>

{% else %}

<div>
  {% for key in data %}
  <div class="d-lg-flex">
    <div class="title w-lg-25">
      <label class="mt-1">{{ key }}</label>
    </div>
    <div class="body w-lg-100">
      <p>{{ thing.__dict__.get(data[key]) }}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endif %}

{% endmacro %}