{% macro kv(thing, section) %}

{% if g.user.has_seat and thing._status <= section %}

<div>
  {% for entry in thing._layout[section] %}
  <div class="d-lg-flex">
    <div class="title w-lg-25">
      <label class="mt-1">{{ entry['name'] }}</label>
    </div>
    <div class="body w-lg-100 d-flex on-hover vis-toggle-{{ entry['value'] }}-{{ loop.index0 }}">
      <div>
        {% if entry.get('kind')=='multi' %} 
        <div id="display-value-{{ entry['value'] }}-{{ loop.index0 }}">{{ thing.__dict__.get(entry['value']) | safe }}</div>
        {% else %}
        <p id="display-value-{{ entry['value'] }}-{{ loop.index0 }}">{{ thing.__dict__.get(entry['value']) }}</p>
        {% endif %}
      </div>
      <div class="ms-auto on-hover-show toggle-target-class" data-toggle-target="vis-toggle-{{ entry['value'] }}-{{ loop.index0 }}">
        <i class="fas fa-pen fa-fw"></i>
      </div>
    </div>
    <div class="body w-lg-100 d-flex on-hover vis-toggle-{{ entry['value'] }}-{{ loop.index0 }} d-none">
      <form id="form-update-{{ entry['value'] }}-{{ loop.index0 }}" action="{{ thing.permalink }}" method="post" class="toasted w-100 me-4">
        <input type="hidden" name="csrf_token" value="{{ g.user.csrf_token }}">
        {% if entry.get('kind')=='multi' %} 
        <textarea id="input-update-{{ entry['value'] }}-{{ loop.index0 }}" class="form-control" name="{{ entry['value'] }}">{{ thing.__dict__.get(entry['raw']) }}</textarea>
        {% elif entry.get('kind')=='dropdown' %}
        <select id="input-update-{{ entry['value'] }}-{{ loop.index0 }}" class="form-select" name="{{ entry['value'] }}">
          {% for x in entry['values'] %}
          <option value="{{ x }}" {% if x==thing.__dict__.get(entry['value']) %}selected{% endif %}>{{ entry['values'][x] }}</option>
          {% endfor %}
        </select>
        {% else %}
        <input id="input-update-{{ entry['value'] }}-{{ loop.index0 }}" class="form-control" type="text" name="{{ entry['value'] }}" value="{{ thing.__dict__.get(entry['value']) }}">
        {% endif %}
      </form>
      <a href="javascript:void(0)" class="btn btn-secondary toggle-target-class ms-auto mb-auto" data-toggle-target="vis-toggle-{{ entry['value'] }}-{{ loop.index0 }}">Cancel</a>
      <a href="javascript:void(0)" class="btn btn-primary toggle-target-class record-value-edit ms-2 mb-auto" data-toggle-target="vis-toggle-{{ entry['value'] }}-{{ loop.index0 }}" data-form="form-update-{{ entry['value'] }}-{{ loop.index0 }}" data-value-target="display-value-{{ entry['value'] }}-{{ loop.index0 }}">Save</a>
    </div>
  </div>
  {% endfor %}
</div>

{% else %}

<div>
  {% for entry in thing._layout[section] %}
  <div class="d-lg-flex">
    <div class="title w-lg-25">
      <label class="mt-1">{{ entry['name'] }}</label>
    </div>
    <div class="body w-lg-100">
      <p>{{ thing.__dict__.get(entry['value']) }}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endif %}

{% endmacro %}