<table class="table table-striped mb-5">
  <thead class="bg-primary text-white">
    <tr>
      <th>{{_("ID")}}</th>
      <th>{{_("Status")}}</th>
      <th>{{_("Assigned To")}}</th>
      <th>{{_("Due Date")}}</th>
    </tr>
  </thead>
  {% for thing in listing %}
  <tr>
    <td><a href="{{ thing.permalink }}">{{ thing.name }}</a></td>
    <td>{{ thing.status }}</td>
    <th>{% for u in thing._lifecycle[thing._status]['users']%}{% if loop.index0 %}, {% endif %}<a href="{{ u.permalink }}">{{ u.name }}</a>{% endfor %}</th>
    <th></th>
  </tr>
  {% else %}
  <tr>
    <td>None</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
</table>