<!--Toasts-->
<div class="toast" id="toast-copy-success" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-black text-center rounded">
    <i class="fas fa-check-circle text-success me-2 fa-fw"></i>Copied link to clipboard
  </div>
</div>

<div class="toast" id="toast-copy-error" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-black text-center rounded">
    <i class="fas fa-exclamation-circle text-danger me-2 fa-fw"></i>Unable to copy link
  </div>
</div>

<div class="toast" id="toast-success" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-success text-center rounded">
    <i class="fas fa-comment-alt-smile me-2 fa-fw"></i><span class="toast-text">success message</span>
  </div>
</div>
<div class="toast" id="toast-error" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-danger text-center rounded">
    <i class="fas fa-exclamation-circle me-2 fa-fw"></i><span class="toast-text">error message</span>
  </div>
</div>
<div class="toast" id="toast-waiting" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
  <div class="toast-body bg-danger text-center rounded">
    <i class="fas fa-spinner fa-spin me-2 fa-fw"></i>
  </div>
</div>
