{% extends "auth/sign_in.html" %}

{% block title %}Two-Factor Authentication | {{ 'SITE_NAME' | app_config }}{% endblock %}

{% block content %}
<div id="login-form" class="">

  <h1 class="h2">{{ _("Sign In") }}</h1>

  <form id="form-login" action="/two_factor_code" method="post" class="mt-md-3 toasted">

    <input type="hidden" name="csrf_token" value="{{ g.time | csrf_token }}"> 
    <input type="hidden" name="time" value="{{ g.time }}">
    <input type="hidden" name="redirect" value="{{ request.values.get('redirect','') | urlencode }}">

    <label id="label-otp" for="otp-code" class="mt-3">{{ _("Two-Factor Code") }}</label>
    <p id="text-otp" class="text-small">{{ _("Or 25-character recovery code") }}</p>
    <input class="form-control" id="otp-code" aria-labelledby="label-otp" aria-described-by="text-otp" type="text" name="otp_code" required="" placeholder="# # # # # #">

  </form>

  <button class="btn btn-primary w-100 mt-3 toast-form-submit" data-form="form-login">{{ _("Continue") }}</button>

</div>
{% endblock %}