.splash-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.splash-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(127, 127, 127, 0.25);
    background-image: linear-gradient(135deg, rgba($primary, 0.1) 0%, rgba($primary, 0.9) 100%);

}

.splash-text {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    color: $white;
    font-weight: $font-weight-normal;
}

.splash-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;
}

/*toasts*/
.toast {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    color: $white;
    border: 0;
    position: fixed;
    bottom: 1.5rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 300px;
    z-index: 10000;
    border-radius: $border-radius;
}

.settings-nav .nav-link {
    color: $gray-600;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    padding: 0.75rem 1rem;
}

.settings-nav > .nav-item > .nav-link.active {
    color: $primary;
    box-shadow: inset 0 -2px 0 $primary;
}

.settings-nav .nav-link:hover, .settings-nav .nav-link:focus {
    color: $primary;
}

.settings-nav .fa, .settings-nav .fas, .settings-nav .far, .settings-nav .fab, .settings-nav .fal {
    font-size: $small-font-size;
    margin-right: .5rem;
    color: $gray-600;
}

/* Custom Box Shadows (behaves like borders)*/

.box-shadow-bottom {
    box-shadow: inset 0 -1px 0 $border-color;
}

.sidebar {
    -ms-flex: 0 0 240px;
    flex: 0 0 240px;
}

.settings-section {
    margin-bottom: 3rem;
    border: 1px solid $gray-600;
    //box-shadow: $box-shadow-sm;
    border-radius: 0.35rem;
    overflow: hidden;
}
.settings-section .title, .settings .settings-section .body, .settings .settings-section .footer {
    padding: 1rem;
}
.settings-section .title p:last-of-type {
    margin-bottom: 0;
}
.settings-section .footer {
    background-color: $gray-200;
}

label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .025rem;
}

.text-small {
    font-size: $small-font-size!important;
}
.text-xsmall {
    font-size: 0.8em !important;
}

/* Custom Checkboxes and Radio Buttons*/

.form-check-label {
    text-transform: none;
    font-weight: $font-weight-normal;
    font-size: $font-size-base;
    letter-spacing: 0;
    color: $black;
}

.form-switch .form-check-input:checked~.form-check-label::before {
    background-color: $primary;
    border: 1px solid $primary;
}

/* Custom Switch (iOS-like toggle)*/

.form-switch {
  padding-left: 2.25rem;
  padding-bottom: 1rem; // added for positioning
}

.form-switch .form-check-label { // added for alignment with the switch
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-bottom: 0.1rem;
}

.form-check-input:checked ~ .form-check-label::before {
    opacity: 1;
    background-color: $success;
    border: $success solid 1px;

}

.form-check-input:checked ~ .form-check-label:hover::before {
    opacity: 1;
}

.form-switch .form-check-label::before {
  left: -2.25rem;
  height: 1.5rem;
  width: 2.75rem;    // it was 1.75rem before. Sliding way is longer than before.
  pointer-events: all;
  border-radius: 1rem;
  background-color: $gray-500;
  border: $gray-500 solid 1px;
  opacity: .7;
}

.form-switch .form-check-label:hover::before {
    opacity: .85;
}

.form-switch .form-check-label::after {
  top: calc(0.25rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(1.5rem - 4px);   // it was calc(1rem - 4px) before. Oval is bigger than before.
  height: calc(1.5rem - 4px);  // it was calc(1rem - 4px) before. Oval is bigger than before.
  background-color: $white;
  border-radius: 2rem; //   it was 0.5rem before. Oval is bigger than before.
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-switch .form-check-label::after {
    transition: none;
  }
}

.form-switch .form-check-input:checked ~ .form-check-label::after {
  background-color: $white;
  -webkit-transform: translateX(1.25rem); //translateX(0.75rem);
  transform: translateX(1.25rem); //translateX(0.75rem);
}
