.btn-primary,
.btn-primary:hover {
    color: white;
}

.splash-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.splash-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(127, 127, 127, 0.25);
    background-image: linear-gradient(135deg, rgba($primary, 0.1) 0%, rgba($primary, 0.9) 100%);

}

.splash-text {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    color: $white;
    font-weight: $font-weight-normal;
}

.splash-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;
}

/*toasts*/
.toast {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    color: $white;
    border: 0;
    position: fixed;
    bottom: 1.5rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 300px;
    z-index: 10000;
    border-radius: $border-radius;
}

.settings-nav .nav-link {
    color: $gray-600;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    padding: 0.75rem 1rem;
}

.settings-nav > .nav-item > .nav-link.active {
    color: $primary;
    box-shadow: inset 0 -2px 0 $primary;
}

.settings-nav .nav-link:hover, .settings-nav .nav-link:focus {
    color: $primary;
}

.settings-nav .fa, .settings-nav .fas, .settings-nav .far, .settings-nav .fab, .settings-nav .fal {
    font-size: $small-font-size;
    margin-right: .5rem;
    color: $muted;
}

/* Custom Box Shadows (behaves like borders)*/

.box-shadow-bottom {
    box-shadow: inset 0 -1px 0 $border-color;
}